<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head.ejs",{title:"inicio"})%>
<body>
    
  <%- include("../partials/header.ejs")%>
   
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Registro</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>


        <main class="productos">
          <% productos.forEach(producto => { %>
            <div class="producto">
              <img src="https://falabella.scene7.com/is/image/FalabellaCO/12482928_1?wid=1500&hei=1500&qlt=70" alt="Producto 1">
              <h3>nombre:<%=producto.nombre%></h3>
              <p class="linea-roja" >precio:$ <%=producto.precio%></p>
              <p>descuento:<%=producto.descuento%> % </p>
              <p>precio Final:$ <%=((100-producto.descuento)/100)*(producto.precio)%> </p>
            </div>
            <% }) %>
            <!-- <div class="producto">
              <img src="https://falabella.scene7.com/is/image/FalabellaCO/1397266_1?wid=1500&hei=1500&qlt=70" alt="Producto 2">
              <h3>TOMMY HILFIGER</h3>
              <p class="linea-roja"> $120.000  -15%</p>
              <p>$ 102.000 </p>
            </div>
            <div class="producto">
              <img src="https://falabella.scene7.com/is/image/FalabellaCO/72730053_1?wid=800&hei=800&qlt=70" alt="Producto 3">
              <h3>NAUTICA </h3>
              <p class="linea-roja"> $ 259.990 -62%</p>
              <p>$ 99.990 </p>
            </div>
            <div class="producto">
                <img src="https://falabella.scene7.com/is/image/FalabellaCO/72728721_1?wid=800&hei=800&qlt=70" alt="Producto 4">
                <h3>HUGO BOSS</h3>
                <p class="linea-roja">$ 219.990 -57%</p>
                <p>$ 189.990</p>
              </div>
              <div class="producto">
                <img src="https://falabella.scene7.com/is/image/FalabellaCO/3069114_1?wid=1500&hei=1500&qlt=70" alt="Producto 5">
                <h3>CAROLINA HERRERA</h3>
                <p class="linea-roja">$ 345.900 0%</p>
                <p>$ 345.900</p>
              </div>
              <div class="producto">
                <img src="https://falabella.scene7.com/is/image/FalabellaCO/3820347_1?wid=1500&hei=1500&qlt=70" alt="Producto 6 ">
                <h3>LACOSTE</h3>
                <p class="linea-roja">$ 409.900 - 20%</p>
                <p>$ 327.920</p>
              </div>
              <div class="producto">
                <img src="https://falabella.scene7.com/is/image/FalabellaCO/3820349_1?wid=1500&hei=1500&qlt=70" alt="Producto 1">
                <h3>LACOSTE ROSE</h3>
                <p class="linea-roja" >$ 169.990  -10%</p>
                <p>$ 149.990 </p>
              </div>
              <div class="producto">
                <img src="https://falabella.scene7.com/is/image/FalabellaCO/3443709_1?wid=1500&hei=1500&qlt=70" alt="Producto 2">
                <h3>CHANEL</h3>
                <p class="linea-roja"> $120.000  -15%</p>
                <p>$ 102.000 </p>
              </div> -->
            <!-- Agrega más productos según sea necesario -->
          </main>
          
          <%- include("../partials/footer.ejs")%>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
    crossorigin="anonymous"></script>
</body>
</html>